# Ví dụ cấu hình sync
tables:
  - source_table: "dbo.PO"
    bq_dataset: "dbo"
    bq_table: "PO"
    primary_key: "PR_KEY"
    active: true

  - source_table: "dbo.DM_PR_DETAIL"
    bq_dataset: "dbo"
    bq_table: "DM_PR_DETAIL"
    primary_key: "PR_DETAIL_ID"
    active: true

  - source_table: "dbo.PO_DETAIL"
    bq_dataset: "dbo"
    bq_table: "PO_DETAIL"
    primary_key: "PR_KEY"
    active: true